PORT=4000
JWT_ACCESS_SECRET=replace_with_long_secret_1
JWT_REFRESH_SECRETS=replace_with_current_refresh_secret,replace_with_previous_refresh_secret
JWT_ACCESS_EXPIRES=15m
JWT_REFRESH_EXPIRES=7d
RPC_ETHEREUM=https://ethereum-sepolia-rpc.publicnode.com
RPC_POLYGON=https://rpc-amoy.polygon.technology
WS_ETHEREUM=
WS_POLYGON=
SIWE_URI=http://localhost:5173
SIWE_STATEMENT=Sign in to CryptoVault.
VAULT_ADDRESS=0x0000000000000000000000000000000000000000
COINGECKO_API=https://api.coingecko.com/api/v3
